{% extends('_template.html.twig') %}

{% block title %}
    UserProfile
{% endblock %}

{% block content %}
    <h1 class="title">Profil utilisateur</h1>
    {{ form_start(ChangeMailForm) }}
    {{ form_row( ChangeMailForm.email ,{label:'Mon adresse mail'})}}
    <button type="submit" class="button is-primary is-fullwidth">Changer Email</button>
    {{ form_end(ChangeMailForm) }}
{% endblock %}