{% extends '_template.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouveautés</h1>
        {% include '/includes/productlist.html.twig' with {products:new_products}%}
    </div>
{% endblock %}