{% extends('_admin_template.html.twig') %}

{% block title %}
    Ajout des produits
{%  endblock %}
{% block content %}
    <div class="section">
        <h1>Ajout des produits</h1>
        {{ include('admin_product/form.html.twig') }}
    </div>
{% endblock %}