{% extends ('_admin_template.html.twig') %}

{% block title %}
    Modification
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title"> Modifier le produit {{ productamodif.name }}</h1>
        {{ include('admin_product/form.html.twig') }}
    </div>
{% endblock %}