{% extends('_admin_template.html.twig') %}

{% block title %}
    Modification Catégories
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Modification Catégories</h1>
        {{ include('admin_category/form.html.twig') }}
    </div>
{% endblock %}